# Visual Studio
.vs
*.sln
*.vcxproj*

# The folder name that most people use when saving build files
build

# Compiled engine binary asset files
/Engine/Binary
# Log
/Engine/Log
# The working directory
/Engine/VSProject
